@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Poppins:500);

body{
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

header {
    position: absolute;
    width: 100%;
    height: 60px;
    background:#212121;
    left: 0;
    top: 0;
    right: 0;  
    margin: 0px;
    padding: 0px;  
}

main{ 
    position: absolute;
    height: 100%;
    background: #080808;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    padding: 0px;
    margin: 0px;
}

#left-section{
    position: relative;
    width: 225px;
    height: 100%;
    background: #333;
    margin: 0px;
    padding: 0px;
    float: left;
}

#main-plot{
    position: relative;
    background:#212121;
    width: 800px;
    height: 400px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

li.navigation-header > span{
    padding: 11px 15px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: #ea6c41;
}

#left-menu{
    list-style-type: none;
}

#left-menu a{
    padding: 11px 15px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #ea6c41;
}

#left-menu a:hover{
    background-color: #777;
    border-left: 5px solid #a0bd37;
}

#left-menu li{
    border-left: 10px solid #666666;
    border-bottom: 1px solid #666;
}