body{
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
}

header {
    position: absolute;
    width: 100%;
    height: 60px;
    background:#212121;
    left: 0;
    top: 0;
    right: 0;    
}

main{ 
    position: absolute;
    background: #080808;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    padding: 0px;
}

#left-menu{
    position: relative;
    margin: 0;
    width: 225px;
    height: 100%;
    background: #333;
}
