@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Poppins:500);

body{
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

header {
    position: absolute;
    width: 100%;
    height: 60px;
    background:#212121;
    left: 0;
    top: 0;
    right: 0;  
    margin: 0px;
    padding: 0px;  
}

main{ 
    position: absolute;
    height: 100%;
    background: #080808;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    padding: 0px;
    margin: 0px;
}

#left-section{
    position: relative;
    width: 10%;
    height: 100%;
    background: #333;
    margin: 0px;
    padding: 0px;
    float: left;
    font: 1em tahoma;
}

#main-plot{
    position: relative;
    background:#212121;
    width: 88%;
    height: 90%;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

li.navigation-header > span{
    padding: 11px 15px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: #ea6c41;
}

#left-menu{
    list-style-type: none;
}

#left-menu a{
    padding: 11px 15px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #ea6c41;
}

#left-menu a:hover{
    background-color: #777;
    border-left: 5px solid #a0bd37;
}

#left-menu li{
    border-left: 10px solid #666666;
    border-bottom: 1px solid #666;
}

.caption{
    position: absolute;
    margin-left: 20px;
}

/*Tabs*/
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  background-color: #666666;
  width: 100%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 100%;
  height: 100%;
  border-left: none;
  display: none;
}